In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime as dt
import calendar
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### 1. Data Acquisition

In [2]:
# Loading Crime Dataset
crime_data = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

In [3]:
# Checking the shape of the dataframe
crime_data.shape

(807377, 28)

### 2. Data Inspection:

In [4]:
# Displaying first 5 rows of the dataframe
crime_data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,1/8/20 0:00,1/8/20 0:00,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,1/2/20 0:00,1/1/20 0:00,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,4/14/20 0:00,2/13/20 0:00,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,1/1/20 0:00,1/1/20 0:00,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,1/1/20 0:00,1/1/20 0:00,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [5]:
# Creating Copy of the Dataframe
data_crime = crime_data.copy()

In [6]:
# Creating Copy of the Dataframe
data_crime = crime_data.copy()

In [7]:
# Checking datatypes of the Dataframe
crime_data.dtypes

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2           object
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [8]:
# Printing Columns of the Dataframe
crime_data.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [9]:
# Information about the Dataframe including the index dtype and columns, non-null values and memory usage
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 807377 entries, 0 to 807376
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           807377 non-null  int64
 1   Date Rptd       807377 non-null  object
 2   DATE OCC        807377 non-null  object
 3   TIME OCC        807377 non-null  int64
 4   AREA            807377 non-null  int64
 5   AREA NAME       807377 non-null  object
 6   Rpt Dist No     807377 non-null  int64
 7   Part 1-2        807377 non-null  object
 8   Crm Cd          807377 non-null  int64
 9   Crm Cd Desc     807377 non-null  object
 10  Mocodes         696010 non-null  object
 11  Vict Age        807377 non-null  int64
 12  Vict Sex        701468 non-null  object
 13  Vict Descent    701460 non-null  object
 14  Premis Cd       807368 non-null  float64
 15  Premis Desc     806901 non-null  object
 16  Weapon Used Cd  281174 non-null  float64
 17  Weapon Desc     281174 non-null  object
 18  Status          807377 non-null  object
 19  Status Desc     807377 non-null  object
 20  Crm Cd 1        807367 non-null  float64
 21  Crm Cd 2        59483 non-null   float64
 22  Crm Cd 3        1987 non-null    float64
 23  Crm Cd 4        58 non-null      float64
 24  LOCATION        807377 non-null  object
 25  Cross Street    129232 non-null  object
 26  LAT             807377 non-null  float64
 27  LON             807377 non-null  float64
dtypes: float64(8), int64(6), object(14)
memory usage: 172.5+ MB

### 3. Data Cleaning:

In [10]:
# checking the missing values in crime dataframe
crime_data.isna().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           111367
Vict Age               0
Vict Sex          105909
Vict Descent      105917
Premis Cd              9
Premis Desc          476
Weapon Used Cd    526203
Weapon Desc       526203
Status                 0
Status Desc            0
Crm Cd 1              10
Crm Cd 2          747894
Crm Cd 3          805390
Crm Cd 4          807319
LOCATION               0
Cross Street      678145
LAT                    0
LON                    0
dtype: int64

In [11]:
# functions to drop/dropna columns
def drop_columns(df,columns_to_drop):
    return df.drop(columns=columns_to_drop,inplace=True)

def dropna_columns(df,columns_to_drop):
    return df.dropna(subset=columns_to_drop,inplace=True)

In [12]:
# Droping Column
column_to_dropna = ['Crm Cd 1']
dropna_columns(crime_data,column_to_dropna)

In [13]:
# handling the H and - values by adding them to X
crime_data['Vict Sex'].replace(to_replace=['H','-'],value='X',inplace=True)
crime_data['Vict Sex'].fillna('X',inplace=True)
print(crime_data['Vict Sex'].unique())

['F' 'M' 'X']

In [14]:
# Gender count of victims
crime_data['Vict Sex'].value_counts()

M    333678
F    297639
X    176050
Name: Vict Sex, dtype: int64

In [15]:
# adding column for - weapon used or not 
crime_data['Weapon Used'] = crime_data['Weapon Used Cd'].apply(lambda x: 1 if pd.notna(x) else 0)

In [16]:
# filling missing values with 'unknown' and '0'
crime_data['Premis Desc'] = crime_data['Premis Desc'].fillna('Unknown')
crime_data['Premis Cd'] = crime_data['Premis Cd'].fillna(0)

In [17]:
# replaced nan values of 'cross street' with '' and added them to Location column 
crime_data['Cross Street'].fillna('',inplace=True)
crime_data['LOCATION'] = crime_data['LOCATION'] + ' ' + crime_data['Cross Street']

In [18]:
# Checking any Null values in the Dataframe
crime_data.isna().sum().sort_values(ascending=False)

Crm Cd 4          807309
Crm Cd 3          805380
Crm Cd 2          747894
Weapon Used Cd    526196
Weapon Desc       526196
Mocodes           111367
Vict Descent      105916
DR_NO                  0
LON                    0
LAT                    0
Cross Street           0
LOCATION               0
Crm Cd 1               0
Status Desc            0
Status                 0
Premis Cd              0
Premis Desc            0
Date Rptd              0
Vict Sex               0
Vict Age               0
Crm Cd Desc            0
Crm Cd                 0
Part 1-2               0
Rpt Dist No            0
AREA NAME              0
AREA                   0
TIME OCC               0
DATE OCC               0
Weapon Used            0
dtype: int64

In [19]:
# converting datetime column to correct datatype
crime_data['Date Rptd'] = pd.to_datetime(crime_data['Date Rptd'])

In [20]:
# Creating copy of the Dataframe
crime_data1 = crime_data.copy()

In [21]:
# Checking shape of the Dataframe 
crime_data.shape

(807367, 29)

In [22]:
# converting time to hour minute format
crime_data['TIME OCC'] = crime_data['TIME OCC'].apply(lambda x: f'{x//100:02}:{x%100:02}')

In [23]:
# Combining date and time (hour, minute) of crime occured
crime_data['Date Time OCC'] = pd.to_datetime(crime_data['DATE OCC'].str.split().str[0]+' '+crime_data['TIME OCC'].astype(str))

In [24]:
# Converting the Datatype of the Columns
crime_data['Date Rptd'] = pd.to_datetime(crime_data['Date Rptd'])
crime_data['Date Time OCC'] = pd.to_datetime(crime_data['Date Time OCC'])

In [25]:
# rearranging columns
temp = crime_data.pop('Date Time OCC')
crime_data.insert(2,'Date Time OCC',temp)

In [26]:
# count of victim descents and missing values
print(crime_data['Vict Descent'].value_counts())
print('The missing values in Vict Descent column:',crime_data['Vict Descent'].isna().sum())

H    247787
W    164842
B    115215
X     77446
O     64019
A     17678
K      4297
F      3360
C      3089
J      1123
V       830
I       765
Z       408
P       216
U       166
D        59
G        55
L        49
S        45
-         2
Name: Vict Descent, dtype: int64
The missing values in Vict Descent column: 105916

In [27]:
# filling and replacing missing/unknown values
crime_data['Vict Descent'].fillna('X',inplace=True)
crime_data['Vict Descent'].replace(to_replace='-',value='X',inplace=True)

In [28]:
# handling semantic errors in data
crime_data = crime_data[crime_data['Vict Age'].between(0, 100)]

In [29]:
# dropping irrelevant columns (relevant information already extracted from the columns or are irrelevant)
column_to_drop=['Crm Cd 2','Crm Cd 3','Crm Cd 4','AREA','Part 1-2','Cross Street','DATE OCC','TIME OCC',
                'Weapon Used Cd','Weapon Desc','Mocodes']
drop_columns(crime_data,column_to_drop)

In [30]:
# the cleaned dataset
print('The nan values in dataset:\n',crime_data.isna().sum())
print('\nThe shape of cleaned dataset:\n',crime_data.shape)

The nan values in dataset:
 DR_NO            0
Date Rptd        0
Date Time OCC    0
AREA NAME        0
Rpt Dist No      0
Crm Cd           0
Crm Cd Desc      0
Vict Age         0
Vict Sex         0
Vict Descent     0
Premis Cd        0
Premis Desc      0
Status           0
Status Desc      0
Crm Cd 1         0
LOCATION         0
LAT              0
LON              0
Weapon Used      0
dtype: int64

The shape of cleaned dataset:
 (807298, 19)

In [31]:
# Displaying first 5 rows of the Dataframe
crime_data.head()

,DR_NO,Date Rptd,Date Time OCC,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,Weapon Used
0,10304468,2020-01-08,2020-01-08 22:30:00,Southwest,377,624,BATTERY - SIMPLE ASSAULT,36,F,B,501.0,SINGLE FAMILY DWELLING,AO,Adult Other,624.0,1100 W 39TH PL,34.0141,-118.2978,1
1,190101086,2020-01-02,2020-01-01 03:30:00,Central,163,624,BATTERY - SIMPLE ASSAULT,25,M,H,102.0,SIDEWALK,IC,Invest Cont,624.0,700 S HILL ST,34.0459,-118.2545,1
2,200110444,2020-04-14,2020-02-13 12:00:00,Central,155,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,X,X,726.0,POLICE FACILITY,AA,Adult Arrest,845.0,200 E 6TH ST,34.0448,-118.2474,0
3,191501505,2020-01-01,2020-01-01 17:30:00,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,745.0,5400 CORTEEN PL,34.1685,-118.4019,0
4,191921269,2020-01-01,2020-01-01 04:15:00,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,X,409.0,BEAUTY SUPPLY STORE,IC,Invest Cont,740.0,14400 TITUS ST,34.2198,-118.4468,0

In [32]:
# Creating columns for year, month and year_month
crime_data['Year'] = crime_data['Date Time OCC'].dt.year
crime_data['Month'] = crime_data['Date Time OCC'].dt.month
crime_data['Year_Month'] = crime_data['Date Time OCC'].dt.strftime('%Y-%m')

In [34]:
# Converting Time OCC column into hours and minutes
crime_data1['TIME OCC'] = crime_data1['TIME OCC'].apply(lambda x: f'{x//100:02}:{x%100:02}')

In [35]:
# Converting into Date time format
crime_data1['DATE OCC'] = pd.to_datetime(crime_data1['DATE OCC'])
crime_data1.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Weapon Used
0,10304468,2020-01-08,2020-01-08,22:30,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,,34.0141,-118.2978,1
1,190101086,2020-01-02,2020-01-01,03:30,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,,34.0459,-118.2545,1
2,200110444,2020-04-14,2020-02-13,12:00,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,,34.0448,-118.2474,0
3,191501505,2020-01-01,2020-01-01,17:30,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,,34.1685,-118.4019,0
4,191921269,2020-01-01,2020-01-01,04:15,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,,34.2198,-118.4468,0

In [36]:
crime_data.to_csv('Cleaned_df.csv',index=False)